@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Five Farmville Way<br />
    Bluemond, FA 98052-6399<br />
    <abbr title="Phone">Phone:</abbr>
    041 696 9420
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@farmcentral.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@farmcentral.com</a>
</address>