@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">You have been logged in</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add new Farmer</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Click Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View famers products</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Click Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add new product</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Click Here &raquo;</a></p>
    </div>
</div>